/* =================================
------------------------------------
  Divisima | eCommerce Template
  Version: 1.0
 ------------------------------------
 ====================================*/
/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/
/* line 15, ../sass/style.scss */
html,
body {
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 23, ../sass/style.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #111111;
  font-weight: 600;
}

/* line 34, ../sass/style.scss */
h1 {
  font-size: 70px;
}

/* line 38, ../sass/style.scss */
h2 {
  font-size: 36px;
}

/* line 42, ../sass/style.scss */
h3 {
  font-size: 30px;
}

/* line 46, ../sass/style.scss */
h4 {
  font-size: 24px;
}

/* line 50, ../sass/style.scss */
h5 {
  font-size: 18px;
}

/* line 54, ../sass/style.scss */
h6 {
  font-size: 16px;
}

/* line 58, ../sass/style.scss */
p {
  font-size: 14px;
  color: #585858;
  line-height: 1.6;
}

/* line 64, ../sass/style.scss */
img {
  max-width: 100%;
}

/* line 72, ../sass/style.scss */
input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

/* line 77, ../sass/style.scss */
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

/* line 83, ../sass/style.scss */
ul,
ol {
  padding: 0;
  margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/
/* line 93, ../sass/style.scss */
.section-title {
  text-align: center;
}
/* line 95, ../sass/style.scss */
.section-title h2 {
  font-size: 36px;
}

/* line 100, ../sass/style.scss */
.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

/* line 106, ../sass/style.scss */
.spad {
  padding-top: 105px;
  padding-bottom: 105px;
}

/* line 112, ../sass/style.scss */
.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
  color: #fff;
}

/*---------------------
  Commom elements
-----------------------*/
/* buttons */
/* line 132, ../sass/style.scss */
.site-btn {
  display: inline-block;
  border: none;
  font-size: 14px;
  font-weight: 600;
  min-width: 167px;
  padding: 18px 47px 14px;
  border-radius: 50px;
  text-transform: uppercase;
  background: #f51167;
  color: #fff;
  line-height: normal;
  cursor: pointer;
  text-align: center;
}
/* line 146, ../sass/style.scss */
.site-btn:hover {
  color: #fff;
}
/* line 149, ../sass/style.scss */
.site-btn.sb-white {
  background: #fff;
  color: #111111;
}
/* line 153, ../sass/style.scss */
.site-btn.sb-line {
  background: transparent;
  color: #fff;
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff;
}
/* line 159, ../sass/style.scss */
.site-btn.sb-dark {
  background: #413a3a;
}
/* line 161, ../sass/style.scss */
.site-btn.sb-dark.sb-line {
  background-color: transparent;
  color: #111111;
  -webkit-box-shadow: inset 0 0 0 1px #111111;
  box-shadow: inset 0 0 0 1px #111111;
}

/* Preloder */
/* line 172, ../sass/style.scss */
#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #000;
}

/* line 182, ../sass/style.scss */
.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}
/* line 234, ../sass/style.scss */
.elements-section {
  padding-top: 100px;
}

/* line 238, ../sass/style.scss */
.el-title {
  margin-bottom: 75px;
}

/* line 242, ../sass/style.scss */
.element {
  margin-bottom: 100px;
}
/* line 244, ../sass/style.scss */
.element:last-child {
  margin-bottom: 0;
}

/* Accordion */
/* line 251, ../sass/style.scss */
.accordion-area {
  margin-top: 50px;
  border-top: 2px solid #e1e1e1;
}

/* line 256, ../sass/style.scss */
.accordion-area .panel {
  border-bottom: 2px solid #e1e1e1;
}

/* line 260, ../sass/style.scss */
.accordion-area .panel-link {
  background-image: url("../img/arrow-down.png");
  background-repeat: no-repeat;
  background-position: right 10px top 30px;
}

/* line 266, ../sass/style.scss */
.faq-accordion.accordion-area .panel-link,
.faq-accordion.accordion-area .panel-link.active.collapsed {
  padding: 17px 100px 17px 20px;
}

/* line 271, ../sass/style.scss */
.faq-accordion.accordion-area .panel-link:after {
  right: 44px;
}

/* line 275, ../sass/style.scss */
.accordion-area .panel-header .panel-link.collapsed {
  background-image: url("../img/arrow-down.png");
}

/* line 279, ../sass/style.scss */
.accordion-area .panel-link.active {
  background-image: url("../img/arrow-up.png");
}

/* line 283, ../sass/style.scss */
.accordion-area .panel-link.active {
  background-color: transparent;
}

/* line 287, ../sass/style.scss */
.accordion-area .panel-link,
.accordion-area .panel-link.active.collapsed {
  text-align: left;
  position: relative;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  color: #414141;
  padding: 0;
  text-transform: uppercase;
  line-height: 1;
  cursor: pointer;
  border: none;
  min-height: 69px;
  background-color: transparent;
  border-radius: 0;
}

/* line 305, ../sass/style.scss */
.accordion-area .panel-body {
  padding-top: 10px;
}
/* line 307, ../sass/style.scss */
.accordion-area .panel-body p {
  color: #8f8f8f;
  margin-bottom: 25px;
  line-height: 1.8;
}
/* line 311, ../sass/style.scss */
.accordion-area .panel-body p span {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f51167;
}
/* line 318, ../sass/style.scss */
.accordion-area .panel-body img {
  margin-bottom: 25px;
}
/* line 321, ../sass/style.scss */
.accordion-area .panel-body h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

/*------------------
  Header section
---------------------*/
/* line 331, ../sass/style.scss */
.header-top {
  padding: 18px 0 14px;
}

/* line 335, ../sass/style.scss */
.site-logo {
  display: inline-block;
  color: #111111;
  font-size: 40px;
}

/* line 341, ../sass/style.scss */
.header-search-form {
  width: 100%;
  position: relative;
  padding: 0 10px;
}
/* line 345, ../sass/style.scss */
.header-search-form input {
  width: 100%;
  height: 44px;
  font-size: 14px;
  border-radius: 50px;
  border: none;
  padding: 0 19px;
  background: #f0f0f0;
}
/* line 354, ../sass/style.scss */
.header-search-form button {
  position: absolute;
  height: 100%;
  right: 18px;
  top: 0;
  font-size: 26px;
  color: #000;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* line 368, ../sass/style.scss */
.user-panel .up-item {
  display: inline-block;
  font-size: 14px;
}
/* line 371, ../sass/style.scss */
.user-panel .up-item i {
  font-size: 22px;
}
/* line 374, ../sass/style.scss */
.user-panel .up-item a {
  font-size: 14px;
  color: #000;
}
/* line 378, ../sass/style.scss */
.user-panel .up-item:first-child {
  margin-right: 29px;
}

/* line 384, ../sass/style.scss */
.shopping-card {
  display: inline-block;
  position: relative;
}
/* line 387, ../sass/style.scss */
.shopping-card span {
  position: absolute;
  top: -4px;
  left: 100%;
  height: 16px;
  min-width: 16px;
  color: #fff;
  font-size: 13px;
  background: #f51167;
  text-align: center;
  border-radius: 30px;
  padding: 0 2px;
  margin-left: -7px;
}

/* line 403, ../sass/style.scss */
.main-navbar {
  background: #282828;
}

/* line 407, ../sass/style.scss */
.slicknav_menu {
  display: none;
}

/* line 411, ../sass/style.scss */
.main-menu {
  list-style: none;
}
/* line 413, ../sass/style.scss */
.main-menu li {
  display: inline-block;
  position: relative;
}
/* line 416, ../sass/style.scss */
.main-menu li a {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  margin-right: 50px;
  line-height: 1;
  padding: 17px 0;
  position: relative;
}
/* line 424, ../sass/style.scss */
.main-menu li a .new {
  position: absolute;
  top: -8px;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  background: #f51167;
  line-height: 1;
  text-transform: uppercase;
  left: calc(50% - 21px);
  padding: 5px 9px 1px;
  border-radius: 15px;
  width: 42px;
}
/* line 440, ../sass/style.scss */
.main-menu li:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}
/* line 445, ../sass/style.scss */
.main-menu li:hover > a {
  color: #f51167;
}
/* line 450, ../sass/style.scss */
.main-menu .sub-menu {
  position: absolute;
  list-style: none;
  width: 220px;
  left: 0;
  top: 100%;
  padding: 20px 0;
  visibility: hidden;
  opacity: 0;
  margin-top: 50px;
  background: #fff;
  z-index: 99;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
}
/* line 467, ../sass/style.scss */
.main-menu .sub-menu li {
  display: block;
}
/* line 469, ../sass/style.scss */
.main-menu .sub-menu li a {
  display: block;
  color: #000;
  margin-right: 0;
  padding: 8px 20px;
}
/* line 474, ../sass/style.scss */
.main-menu .sub-menu li a:hover {
  color: #f51167;
}

/* line 482, ../sass/style.scss */
.nav-switch {
  display: none;
}

/* ----------------
  Features
---------------------*/
/* line 490, ../sass/style.scss */
.hero-section {
  padding-bottom: 54px;
}

/* line 495, ../sass/style.scss */
.hero-slider .hs-item {
  position: relative;
  height: 720px;
}
/* line 498, ../sass/style.scss */
.hero-slider .hs-item span {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 5px;
  display: block;
  position: relative;
  top: 50px;
  opacity: 0;
}
/* line 509, ../sass/style.scss */
.hero-slider .hs-item h2 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  position: relative;
  top: 50px;
  opacity: 0;
}
/* line 518, ../sass/style.scss */
.hero-slider .hs-item p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 35px;
  position: relative;
  top: 100px;
  opacity: 0;
}
/* line 526, ../sass/style.scss */
.hero-slider .hs-item .site-btn {
  position: relative;
  top: 50px;
  opacity: 0;
}
/* line 531, ../sass/style.scss */
.hero-slider .hs-item .sb-line {
  margin-right: 5px;
}
/* line 534, ../sass/style.scss */
.hero-slider .hs-item .container {
  position: relative;
  padding-top: 170px;
}
/* line 538, ../sass/style.scss */
.hero-slider .hs-item .offer-card {
  position: absolute;
  right: 0;
  top: 226px;
  width: 162px;
  height: 162px;
  border-radius: 50%;
  background: #f51167;
  text-align: center;
  padding-top: 20px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
}
/* line 552, ../sass/style.scss */
.hero-slider .hs-item .offer-card:after {
  position: absolute;
  content: "";
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 1px solid #f96790;
  left: 5px;
  top: 5px;
  border-radius: 50%;
}
/* line 562, ../sass/style.scss */
.hero-slider .hs-item .offer-card span {
  font-size: 18px;
  text-transform: lowercase;
  position: relative;
  top: 50px;
  opacity: 0;
}
/* line 569, ../sass/style.scss */
.hero-slider .hs-item .offer-card h2 {
  font-size: 72px;
  font-weight: 400;
  line-height: 1;
}
/* line 574, ../sass/style.scss */
.hero-slider .hs-item .offer-card p {
  text-transform: uppercase;
  line-height: 1;
  font-size: 14px;
}
/* line 581, ../sass/style.scss */
.hero-slider .slider-nav-warp {
  max-width: 1145px;
  bottom: 0;
  margin: -78px auto 0;
}
/* line 586, ../sass/style.scss */
.hero-slider .slider-nav {
  display: inline-block;
  padding: 0 38px;
  position: relative;
}
/* line 591, ../sass/style.scss */
.hero-slider .owl-dots {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 9px;
}
/* line 597, ../sass/style.scss */
.hero-slider .owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 15px;
  margin-right: 10px;
  opacity: 0.25;
}
/* line 604, ../sass/style.scss */
.hero-slider .owl-dots .owl-dot.active {
  opacity: 1;
}
/* line 607, ../sass/style.scss */
.hero-slider .owl-dots .owl-dot:last-child {
  margin-right: 0;
}
/* line 613, ../sass/style.scss */
.hero-slider .owl-nav button.owl-next,
.hero-slider .owl-nav button.owl-prev {
  font-size: 27px;
  position: absolute;
  color: #fff;
  opacity: 0.5;
  bottom: -20px;
}
/* line 621, ../sass/style.scss */
.hero-slider .owl-nav button.owl-next {
  right: 0;
}
/* line 624, ../sass/style.scss */
.hero-slider .owl-nav button.owl-prev {
  left: 0;
}

/* line 631, ../sass/style.scss */
.hero-slider .owl-item.active .hs-item h2, .hero-slider .owl-item.active .hs-item span, .hero-slider .owl-item.active .hs-item p, .hero-slider .owl-item.active .hs-item .site-btn {
  top: 0;
  opacity: 1;
}
/* line 635, ../sass/style.scss */
.hero-slider .owl-item.active .hs-item span {
  -webkit-transition: all 0.5s ease 0.2s;
  -o-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
}
/* line 640, ../sass/style.scss */
.hero-slider .owl-item.active .hs-item h2 {
  -webkit-transition: all 0.5s ease 0.4s;
  -o-transition: all 0.5s ease 0.4s;
  transition: all 0.5s ease 0.4s;
}
/* line 645, ../sass/style.scss */
.hero-slider .owl-item.active .hs-item p {
  -webkit-transition: all 0.5s ease 0.6s;
  -o-transition: all 0.5s ease 0.6s;
  transition: all 0.5s ease 0.6s;
}
/* line 650, ../sass/style.scss */
.hero-slider .owl-item.active .hs-item .site-btn {
  -webkit-transition: all 0.5s ease 0.8s;
  -webkit-transition: all 0.5s ease  0.8s;
  -o-transition: all 0.5s ease  0.8s;
  transition: all 0.5s ease  0.8s;
}
/* line 657, ../sass/style.scss */
.hero-slider .owl-item.active .hs-item .offer-card {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease 1s;
  -webkit-transition: all 0.5s ease  1s;
  -o-transition: all 0.5s ease  1s;
  transition: all 0.5s ease  1s;
}

/* line 670, ../sass/style.scss */
.slide-num-holder {
  float: right;
  z-index: 1;
  color: #fff;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  margin-top: -22px;
}
/* line 680, ../sass/style.scss */
.slide-num-holder span:first-child {
  margin-right: 41px;
}
/* line 684, ../sass/style.scss */
.slide-num-holder:after {
  position: absolute;
  content: "";
  height: 30px;
  width: 1px;
  background: #fff;
  left: 50%;
  top: 0;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

/* ------------------
  Features section
---------------------*/
/* line 705, ../sass/style.scss */
.feature {
  text-align: center;
  background: #f8f8f8;
  height: 100%;
}
/* line 709, ../sass/style.scss */
.feature:nth-child(2) {
  background: #f51167;
}
/* line 711, ../sass/style.scss */
.feature:nth-child(2) h2 {
  color: #fff;
}
/* line 715, ../sass/style.scss */
.feature .feature-inner {
  padding: 20px 25px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
/* line 729, ../sass/style.scss */
.feature .feature-icon {
  display: inline-block;
  margin-right: 15px;
}
/* line 733, ../sass/style.scss */
.feature h2 {
  font-size: 24px;
  text-transform: uppercase;
  display: inline-block;
}

/* ----------------------
  Latest product section
------------------------*/
/* line 744, ../sass/style.scss */
.top-letest-product-section {
  padding-top: 70px;
  padding-bottom: 60px;
}
/* line 747, ../sass/style.scss */
.top-letest-product-section .section-title {
  margin-bottom: 70px;
}

/* line 753, ../sass/style.scss */
.product-slider .owl-nav {
  position: absolute;
  top: calc(50% - 60px);
  width: 100%;
  left: 0;
}
/* line 758, ../sass/style.scss */
.product-slider .owl-nav button.owl-next,
.product-slider .owl-nav button.owl-prev {
  color: #a4a4a4;
  font-size: 42px;
  position: relative;
}
/* line 764, ../sass/style.scss */
.product-slider .owl-nav button.owl-next {
  float: right;
  right: -92px;
}
/* line 768, ../sass/style.scss */
.product-slider .owl-nav button.owl-prev {
  float: left;
  left: -92px;
}

/* line 776, ../sass/style.scss */
.product-item .pi-pic {
  position: relative;
  display: block;
}
/* line 780, ../sass/style.scss */
.product-item .tag-new,
.product-item .tag-sale {
  position: absolute;
  right: 16px;
  top: 14px;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  background: #50e550;
  line-height: 1;
  text-transform: uppercase;
  padding: 5px 9px 1px;
  border-radius: 15px;
  width: 42px;
}
/* line 795, ../sass/style.scss */
.product-item .tag-sale {
  text-align: center;
  padding: 5px 0px 1px;
  min-width: 65px;
  background: #f51167;
}
/* line 801, ../sass/style.scss */
.product-item .pi-links {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 18px;
  z-index: 9;
  padding-right: 15px;
  text-align: right;
}
/* line 809, ../sass/style.scss */
.product-item .pi-links a {
  display: inline-table;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 60px;
  font-size: 18px;
  line-height: 18px;
  padding-top: 9px;
  overflow: hidden;
  color: #000;
  position: relative;
  -webkit-box-shadow: 1px 0 32px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0 32px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-align: center;
}
/* line 827, ../sass/style.scss */
.product-item .pi-links a i {
  display: inline-block;
  color: #000;
}
/* line 831, ../sass/style.scss */
.product-item .pi-links a.add-card {
  padding-top: 8px;
}
/* line 833, ../sass/style.scss */
.product-item .pi-links a.add-card span {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  right: 19px;
  top: 20px;
  opacity: 0;
}
/* line 842, ../sass/style.scss */
.product-item .pi-links a.add-card:hover {
  width: 148px;
  padding: 8px 18px 0;
  text-align: left;
}
/* line 846, ../sass/style.scss */
.product-item .pi-links a.add-card:hover span {
  opacity: 1;
  top: 10px;
  -webkit-transition: all 0.4s ease 0.3s;
  -o-transition: all 0.4s ease 0.3s;
  transition: all 0.4s ease 0.3s;
}
/* line 857, ../sass/style.scss */
.product-item .pi-text {
  padding-top: 22px;
  height: 87px;
}
/* line 860, ../sass/style.scss */
.product-item .pi-text h6 {
  float: right;
  padding-left: 40px;
  overflow: hidden;
  font-weight: 700;
  color: #111111;
}
/* line 867, ../sass/style.scss */
.product-item .pi-text p {
  font-size: 16px;
  color: #111111;
  margin-bottom: 0;
}

/* -----------------------
  Product filter section
-------------------------*/
/* line 879, ../sass/style.scss */
.product-filter-section {
  padding-bottom: 60px;
}
/* line 881, ../sass/style.scss */
.product-filter-section .section-title {
  margin-bottom: 70px;
}

/* line 886, ../sass/style.scss */
.product-filter-menu {
  list-style: none;
  margin: 0 -10px;
  padding-bottom: 15px;
}
/* line 890, ../sass/style.scss */
.product-filter-menu li {
  margin: 0 10px 10px;
  display: inline-block;
}
/* line 893, ../sass/style.scss */
.product-filter-menu li a {
  color: #111111;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background: #ebebeb;
  display: block;
  width: 100%;
  padding: 10px 34px;
  border-radius: 31px;
}

/* ----------------
  Banner section
---------------------*/
/* line 911, ../sass/style.scss */
.banner {
  padding: 50px 34px 47px;
  position: relative;
  margin-bottom: 70px;
}
/* line 915, ../sass/style.scss */
.banner .tag-new {
  position: absolute;
  right: 26px;
  top: 27px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  background: #50e550;
  line-height: 1;
  text-transform: uppercase;
  padding: 7px 16px 1px;
  border-radius: 80px;
}
/* line 928, ../sass/style.scss */
.banner span {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 5px;
  display: block;
}
/* line 936, ../sass/style.scss */
.banner h2 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  color: #282828;
}

/* ----------------
  Footer section
---------------------*/
/* line 949, ../sass/style.scss */
.footer-section {
  background: #282828;
  padding-top: 60px;
}

/* line 954, ../sass/style.scss */
.footer-logo {
  padding-bottom: 60px;
}

/* line 958, ../sass/style.scss */
.footer-widget {
  margin-bottom: 70px;
  overflow: hidden;
}
/* line 961, ../sass/style.scss */
.footer-widget h2 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 45px;
}
/* line 968, ../sass/style.scss */
.footer-widget p {
  color: #8f8f8f;
}
/* line 972, ../sass/style.scss */
.footer-widget.about-widget p {
  margin-bottom: 50px;
  letter-spacing: -0.01em;
}
/* line 977, ../sass/style.scss */
.footer-widget ul {
  list-style: none;
  float: left;
  margin-right: 37px;
}
/* line 981, ../sass/style.scss */
.footer-widget ul:last-child {
  margin-right: 0;
}
/* line 985, ../sass/style.scss */
.footer-widget ul li a {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  font-size: 14px;
  color: #8f8f8f;
  margin-bottom: 6px;
}
/* line 992, ../sass/style.scss */
.footer-widget ul li a:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  left: 0;
  top: 8px;
  border: 1px solid #ec105a;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 1005, ../sass/style.scss */
.footer-widget ul li a:hover {
  color: #fff;
}
/* line 1007, ../sass/style.scss */
.footer-widget ul li a:hover:after {
  width: 7px;
  height: 7px;
  top: 6px;
  background: #ec105a;
}

/* line 1020, ../sass/style.scss */
.fw-latest-post-widget .lp-item {
  margin-bottom: 30px;
  display: block;
  overflow: hidden;
}
/* line 1025, ../sass/style.scss */
.fw-latest-post-widget .lp-thumb {
  width: 64px;
  height: 64px;
  float: left;
  margin-right: 22px;
}
/* line 1031, ../sass/style.scss */
.fw-latest-post-widget .lp-content {
  overflow: hidden;
  padding-top: 2px;
}
/* line 1034, ../sass/style.scss */
.fw-latest-post-widget .lp-content h6 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.25;
  color: #717171;
  margin-bottom: 1px;
}
/* line 1042, ../sass/style.scss */
.fw-latest-post-widget .lp-content span {
  display: block;
  font-size: 12px;
  color: #8f8f8f;
  margin-bottom: 4px;
}
/* line 1048, ../sass/style.scss */
.fw-latest-post-widget .lp-content .readmore {
  font-size: 12px;
  color: #f51167;
}

/* line 1057, ../sass/style.scss */
.contact-widget .con-info span {
  float: left;
  color: #f51167;
  margin-right: 15px;
  overflow: hidden;
}

/* line 1066, ../sass/style.scss */
.social-links-warp {
  border-top: 2px solid #3b3535;
  padding: 46px 0;
}

/* line 1072, ../sass/style.scss */
.social-links a {
  margin-right: 60px;
  display: inline-block;
}
/* line 1075, ../sass/style.scss */
.social-links a:last-child {
  margin-right: 0;
}
/* line 1078, ../sass/style.scss */
.social-links a i {
  font-size: 30px;
  color: #d7d7d7;
  float: left;
  margin-right: 19px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 1088, ../sass/style.scss */
.social-links a span {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #9f9fa0;
  padding-top: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 1101, ../sass/style.scss */
.social-links a.instagram:hover i {
  color: #2F5D84;
}
/* line 1108, ../sass/style.scss */
.social-links a.google-plus:hover i {
  color: #E04B37;
}
/* line 1115, ../sass/style.scss */
.social-links a.twitter:hover i {
  color: #5abed6;
}
/* line 1122, ../sass/style.scss */
.social-links a.pinterest:hover i {
  color: #CD212D;
}
/* line 1129, ../sass/style.scss */
.social-links a.facebook:hover i {
  color: #39599F;
}
/* line 1136, ../sass/style.scss */
.social-links a.twitter:hover i {
  color: #5abed6;
}
/* line 1143, ../sass/style.scss */
.social-links a.youtube:hover i {
  color: #D12227;
}
/* line 1150, ../sass/style.scss */
.social-links a.tumblr:hover i {
  color: #37475E;
}
/* line 1156, ../sass/style.scss */
.social-links a:hover span {
  color: #fff;
}

/* --------------
  Other Pages
------------------*/
/* line 1167, ../sass/style.scss */
.page-top-info {
  background: #f8f7f7;
  padding: 60px 0 70px;
}
/* line 1170, ../sass/style.scss */
.page-top-info h4 {
  color: #414141;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 1177, ../sass/style.scss */
.site-pagination {
  font-size: 14px;
  font-weight: 600;
  color: #414141;
}
/* line 1181, ../sass/style.scss */
.site-pagination a {
  display: inline-block;
  font-size: 14px;
  color: #414141;
}

/* --------------
  Category page
------------------*/
/* line 1192, ../sass/style.scss */
.filter-widget {
  margin-bottom: 100px;
}
/* line 1194, ../sass/style.scss */
.filter-widget .fw-title {
  font-size: 18px;
  font-weight: 700;
  color: #414141;
  text-transform: uppercase;
  margin-bottom: 45px;
}

/* line 1203, ../sass/style.scss */
.category-menu {
  list-style: none;
}
/* line 1206, ../sass/style.scss */
.category-menu li a {
  display: block;
  position: relative;
  font-size: 12px;
  color: #414141;
  border-bottom: 1px solid #ebebeb;
  padding: 12px 0 5px 20px;
}
/* line 1213, ../sass/style.scss */
.category-menu li a span {
  float: right;
}
/* line 1216, ../sass/style.scss */
.category-menu li a:after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  left: 0;
  top: 13px;
  border: 1px solid #f51167;
  border-radius: 50%;
}
/* line 1226, ../sass/style.scss */
.category-menu li a:hover {
  color: #f51167;
}
/* line 1228, ../sass/style.scss */
.category-menu li a:hover:after {
  background: #f51167;
}
/* line 1233, ../sass/style.scss */
.category-menu li a:last-child a {
  margin-bottom: 0;
}
/* line 1238, ../sass/style.scss */
.category-menu li .sub-menu {
  list-style: none;
  overflow: hidden;
  height: 0;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  opacity: 0;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, -webkit-transform 0.4s;
  -o-transition: transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}
/* line 1251, ../sass/style.scss */
.category-menu li .sub-menu li a {
  padding-left: 45px;
}
/* line 1257, ../sass/style.scss */
.category-menu li:hover > a {
  color: #f51167;
}
/* line 1262, ../sass/style.scss */
.category-menu li.active > .sub-menu {
  display: block;
  height: auto;
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

/* line 1273, ../sass/style.scss */
.price-range-wrap .price-range {
  border-radius: 0;
  margin-right: 13px;
  margin-bottom: 28px;
}

/* line 1279, ../sass/style.scss */
.price-range-wrap .price-range.ui-widget-content {
  border: none;
  background: #ebebeb;
  height: 2px;
}

/* line 1285, ../sass/style.scss */
.price-range-wrap .price-range.ui-widget-content .ui-slider-range {
  background: #ebebeb;
  border-radius: 0;
}

/* line 1290, ../sass/style.scss */
.price-range-wrap .price-range .ui-slider-range.ui-corner-all.ui-widget-header:last-child {
  background: #414141;
}

/* line 1294, ../sass/style.scss */
.price-range-wrap .price-range.ui-widget-content .ui-slider-handle {
  border: none;
  background: #414141;
  height: 14px;
  width: 14px;
  outline: none;
  top: -6px;
  cursor: ew-resize;
  margin-left: 0;
  border-radius: 0;
  border-radius: 20px;
}

/* line 1308, ../sass/style.scss */
.price-range-wrap .price-range .ui-slider-handle.ui-corner-all.ui-state-default span {
  position: absolute;
  font-size: 14px;
  top: 35px;
}

/* line 1315, ../sass/style.scss */
.price-range-wrap .range-slider {
  color: #444444;
  margin-top: 22px;
}

/* line 1320, ../sass/style.scss */
.price-range-wrap {
  border-bottom: 2px solid #ebebeb;
  padding-bottom: 40px;
  margin-bottom: 50px;
}
/* line 1324, ../sass/style.scss */
.price-range-wrap h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #414141;
  margin-bottom: 45px;
}

/* line 1333, ../sass/style.scss */
.price-range-wrap .range-slider .price-input input {
  color: #444444;
  border: none;
  outline: none;
  max-width: 80px;
  pointer-events: none;
}
/* line 1339, ../sass/style.scss */
.price-range-wrap .range-slider .price-input input:nth-child(1) {
  float: left;
}
/* line 1342, ../sass/style.scss */
.price-range-wrap .range-slider .price-input input:nth-child(2) {
  float: right;
}

/* line 1347, ../sass/style.scss */
.fw-color-choose,
.fw-size-choose {
  border-bottom: 2px solid #ebebeb;
  padding-bottom: 40px;
  margin-bottom: 50px;
}

/* line 1354, ../sass/style.scss */
.fw-color-choose .cs-item {
  display: inline-block;
  position: relative;
  margin-right: 14px;
}
/* line 1358, ../sass/style.scss */
.fw-color-choose .cs-item:last-child {
  margin-right: 0;
}

/* line 1363, ../sass/style.scss */
.fw-color-choose label {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background: #333;
  position: relative;
  cursor: pointer;
}

/* line 1372, ../sass/style.scss */
.fw-color-choose label.cs-gray {
  background: #d7d7d7;
}

/* line 1376, ../sass/style.scss */
.fw-color-choose label.cs-orange {
  background: #6f91ff;
}

/* line 1380, ../sass/style.scss */
.fw-color-choose label.cs-yollow {
  background: #6f91ff;
}

/* line 1384, ../sass/style.scss */
.fw-color-choose label.cs-green {
  background: #8fc99c;
}

/* line 1388, ../sass/style.scss */
.fw-color-choose label.cs-purple {
  background: #bc83b1;
}

/* line 1392, ../sass/style.scss */
.fw-color-choose label.cs-blue {
  background: #9ee7f4;
}

/* line 1396, ../sass/style.scss */
.fw-color-choose label span {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 45px;
  font-size: 11px;
  color: #414141;
}

/* line 1405, ../sass/style.scss */
.fw-color-choose input[type=radio] {
  visibility: hidden;
  position: absolute;
}

/* line 1410, ../sass/style.scss */
.fw-color-choose input[type=radio]:checked + label {
  -webkit-box-shadow: 0 0 0 2px #f51167;
  box-shadow: 0 0 0 2px #f51167;
}
/* line 1413, ../sass/style.scss */
.fw-color-choose input[type=radio]:checked + label span {
  color: #b09d81;
}

/* line 1418, ../sass/style.scss */
.fw-size-choose .sc-item {
  display: inline-block;
  position: relative;
  margin-right: 5px;
}

/* line 1424, ../sass/style.scss */
.fw-size-choose label {
  display: inline-block;
  height: 30px;
  min-width: 30px;
  text-align: center;
  font-size: 14px;
  color: #414141;
  font-weight: 500;
  cursor: pointer;
  border-radius: 50px;
  padding: 7px 6px 0;
}

/* line 1437, ../sass/style.scss */
.fw-size-choose input[type=radio] {
  visibility: hidden;
  position: absolute;
}

/* line 1442, ../sass/style.scss */
.fw-size-choose input[type=radio]:checked + label {
  background: #f51167;
  color: #fff;
}

/* --------------
  Product page
------------------*/
/* line 1451, ../sass/style.scss */
.product-section {
  padding-top: 70px;
  padding-bottom: 65px;
}

/* line 1456, ../sass/style.scss */
.back-link {
  padding-bottom: 50px;
}
/* line 1458, ../sass/style.scss */
.back-link a {
  font-size: 12px;
  color: #414141;
}

/* line 1464, ../sass/style.scss */
.product-pic-zoom {
  margin-bottom: 35px;
}

/* line 1468, ../sass/style.scss */
.product-thumbs-track {
  width: 1200px;
}

/* line 1473, ../sass/style.scss */
.product-thumbs .pt {
  width: 116px;
  height: 116px;
  float: left;
  margin-right: 31px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
/* line 1481, ../sass/style.scss */
.product-thumbs .pt:last-child {
  margin-right: 0;
}
/* line 1484, ../sass/style.scss */
.product-thumbs .pt.active:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 2px solid #f51167;
  z-index: 1;
}

/* line 1498, ../sass/style.scss */
.product-details .p-title {
  font-size: 18px;
  font-weight: 700;
  color: #414141;
  text-transform: uppercase;
  margin-bottom: 18px;
}
/* line 1505, ../sass/style.scss */
.product-details .p-price {
  font-size: 24px;
  color: #414141;
  font-weight: 700;
  margin-bottom: 20px;
}
/* line 1511, ../sass/style.scss */
.product-details .p-stock {
  font-size: 12px;
  color: #000;
  font-weight: 700;
  color: #414141;
  margin-bottom: 10px;
}
/* line 1517, ../sass/style.scss */
.product-details .p-stock span {
  color: #f51167;
}
/* line 1521, ../sass/style.scss */
.product-details .p-rating {
  margin-bottom: 15px;
}
/* line 1523, ../sass/style.scss */
.product-details .p-rating i {
  color: #f51167;
}
/* line 1526, ../sass/style.scss */
.product-details .p-rating i.fa-fade {
  color: #e6e6e6;
}
/* line 1530, ../sass/style.scss */
.product-details .p-review {
  margin-bottom: 30px;
}
/* line 1532, ../sass/style.scss */
.product-details .p-review a {
  color: #414141;
  font-size: 14px;
  margin-right: 12px;
  margin-left: 12px;
}
/* line 1537, ../sass/style.scss */
.product-details .p-review a:first-child {
  margin-left: 0;
}
/* line 1542, ../sass/style.scss */
.product-details .fw-size-choose {
  border-bottom: none;
  margin-bottom: 30px;
  padding-bottom: 0;
}
/* line 1546, ../sass/style.scss */
.product-details .fw-size-choose p {
  float: left;
  margin-right: 38px;
  text-transform: uppercase;
  font-weight: 700;
  color: #414141;
  padding-top: 10px;
  margin-bottom: 0;
}
/* line 1555, ../sass/style.scss */
.product-details .fw-size-choose label {
  width: 33px;
  height: 33px;
  font-size: 12px;
  border: 2px solid #414141;
}
/* line 1561, ../sass/style.scss */
.product-details .fw-size-choose input[type=radio]:checked + label {
  border: 2px solid #f51167;
}
/* line 1565, ../sass/style.scss */
.product-details .fw-size-choose .disable label {
  border: 2px solid #e1e1e1;
  color: #cacaca;
}
/* line 1571, ../sass/style.scss */
.product-details .site-btn {
  min-width: 190px;
}
/* line 1574, ../sass/style.scss */
.product-details .social-sharing {
  padding-top: 50px;
}
/* line 1576, ../sass/style.scss */
.product-details .social-sharing a {
  color: #d7d7d7;
  margin-right: 23px;
  font-size: 14px;
}
/* line 1580, ../sass/style.scss */
.product-details .social-sharing a:hover {
  color: #414141;
}

/* line 1587, ../sass/style.scss */
.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}

/* line 1599, ../sass/style.scss */
.quantity p {
  float: left;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #414141;
  padding-top: 10px;
  margin-bottom: 0;
}

/* line 1609, ../sass/style.scss */
.quantity .pro-qty {
  width: 94px;
  height: 36px;
  border: 1px solid #ddd;
  padding: 0 15px;
  border-radius: 40px;
  float: left;
}

/* line 1618, ../sass/style.scss */
.quantity .pro-qty .qtybtn {
  width: 15px;
  display: block;
  float: left;
  line-height: 36px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  color: #404040;
}

/* line 1629, ../sass/style.scss */
.quantity .pro-qty input {
  width: 28px;
  float: left;
  border: none;
  height: 36px;
  line-height: 40px;
  padding: 0;
  font-size: 14px;
  text-align: center;
  background-color: transparent;
}

/* line 1641, ../sass/style.scss */
.related-product-section {
  padding-bottom: 70px;
}
/* line 1644, ../sass/style.scss */
.related-product-section .section-title h2 {
  font-size: 24px;
  margin-bottom: 60px;
}

/* ----------------
  Cart page
---------------------*/
/* line 1655, ../sass/style.scss */
.scrollbar {
  margin: 80px auto 0;
  width: 100%;
  height: 7px;
  line-height: 0;
  background: #ececec;
  overflow: hidden;
}

/* line 1664, ../sass/style.scss */
.scrollbar .handle {
  width: 100px;
  height: 100%;
  background: #fff;
  cursor: pointer;
}

/* line 1671, ../sass/style.scss */
.scrollbar .handle .mousearea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background: #b09d81;
  border-radius: 30px;
}

/* line 1681, ../sass/style.scss */
.cart-table {
  padding: 40px 34px 0;
  background: #f0f0f0;
  border-radius: 27px;
  overflow: hidden;
}
/* line 1686, ../sass/style.scss */
.cart-table h3 {
  font-weight: 700;
  margin-bottom: 37px;
}
/* line 1690, ../sass/style.scss */
.cart-table table {
  width: 100%;
  min-width: 442px;
  margin-bottom: 17px;
}
/* line 1694, ../sass/style.scss */
.cart-table table tr th {
  font-size: 12px;
  font-weight: 400;
  color: #414141;
  text-align: center;
  padding-bottom: 25px;
}
/* line 1700, ../sass/style.scss */
.cart-table table tr th.product-th {
  text-align: left;
}
/* line 1703, ../sass/style.scss */
.cart-table table tr th.size-th {
  padding-right: 70px;
}
/* line 1706, ../sass/style.scss */
.cart-table table tr th.quy-th {
  padding-right: 20px;
}
/* line 1711, ../sass/style.scss */
.cart-table .product-col {
  display: table;
  margin-bottom: 19px;
}
/* line 1714, ../sass/style.scss */
.cart-table .product-col img {
  display: table-cell;
  vertical-align: middle;
  float: left;
  width: 73px;
}
/* line 1720, ../sass/style.scss */
.cart-table .product-col .pc-title {
  display: table-cell;
  vertical-align: middle;
  padding-left: 30px;
}
/* line 1724, ../sass/style.scss */
.cart-table .product-col .pc-title h4 {
  font-size: 16px;
  color: #414141;
  font-weight: 700;
  margin-bottom: 3px;
}
/* line 1730, ../sass/style.scss */
.cart-table .product-col .pc-title p {
  margin-bottom: 0;
  font-size: 16px;
  color: #414141;
}
/* line 1737, ../sass/style.scss */
.cart-table .quy-col {
  padding-right: 20px;
}
/* line 1740, ../sass/style.scss */
.cart-table .quantity {
  margin-bottom: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* line 1745, ../sass/style.scss */
.cart-table .quantity .pro-qty {
  width: 80px;
  background: #fff;
  border-color: #fff;
}
/* line 1750, ../sass/style.scss */
.cart-table .quantity .pro-qty .qtybtn {
  width: 10px;
}
/* line 1754, ../sass/style.scss */
.cart-table .size-col,
.cart-table .total-col {
  text-align: center;
}
/* line 1756, ../sass/style.scss */
.cart-table .size-col h4,
.cart-table .total-col h4 {
  font-size: 18px;
  color: #414141;
  font-weight: 400;
}
/* line 1764, ../sass/style.scss */
.cart-table .size-col h4 {
  padding-right: 70px;
}
/* line 1768, ../sass/style.scss */
.cart-table .total-cost {
  background: #f51167;
  margin: 0 -34px;
  text-align: right;
  padding: 22px 0;
  padding-right: 50px;
}
/* line 1774, ../sass/style.scss */
.cart-table .total-cost h6 {
  line-height: 1;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
/* line 1779, ../sass/style.scss */
.cart-table .total-cost h6 span {
  margin-left: 38px;
}

/* line 1787, ../sass/style.scss */
.card-right .site-btn {
  margin-bottom: 14px;
  width: 100%;
  min-height: 57px;
  padding: 23px 47px 14px;
}

/* line 1795, ../sass/style.scss */
.promo-code-form {
  position: relative;
  margin-bottom: 14px;
}
/* line 1798, ../sass/style.scss */
.promo-code-form input {
  width: 100%;
  height: 58px;
  border: 2px solid #f0f0f0;
  padding-left: 24px;
  padding-right: 100px;
  font-size: 16px;
  border-radius: 80px;
}
/* line 1807, ../sass/style.scss */
.promo-code-form button {
  position: absolute;
  right: 24px;
  top: 0;
  height: 100%;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #f51167;
  cursor: pointer;
}

/* ----------------
  Checkout Page
---------------------*/
/* line 1827, ../sass/style.scss */
.checkout-form .cf-title {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  border-radius: 50px;
  background: #3b3b3b;
  padding: 21px 29px 20px;
  margin-bottom: 66px;
}
/* line 1837, ../sass/style.scss */
.checkout-form p {
  font-size: 16px;
  color: #414141;
}
/* line 1841, ../sass/style.scss */
.checkout-form h4 {
  font-size: 18px;
  color: #414141;
}
/* line 1845, ../sass/style.scss */
.checkout-form input[type=text] {
  width: 100%;
  height: 44px;
  border: none;
  padding: 0 18px;
  background: #f0f0f0;
  border-radius: 40px;
  margin-bottom: 20px;
  font-size: 14px;
}
/* line 1855, ../sass/style.scss */
.checkout-form .address-inputs {
  margin-bottom: 54px;
}

/* line 1860, ../sass/style.scss */
.address-rb {
  text-align: right;
  margin-bottom: 30px;
}
/* line 1863, ../sass/style.scss */
.address-rb .cfr-item {
  display: inline-block;
}

/* line 1869, ../sass/style.scss */
.cf-radio-btns .cfr-item {
  margin-bottom: 15px;
}
/* line 1872, ../sass/style.scss */
.cf-radio-btns label {
  display: block;
  font-size: 16px;
  color: #414141;
  margin-bottom: 0;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}
/* line 1881, ../sass/style.scss */
.cf-radio-btns label:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  left: 4px;
  top: 8px;
  background: #414141;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 1895, ../sass/style.scss */
.cf-radio-btns label:before {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  left: 0;
  top: 4px;
  border: 2px solid #e1e1e1;
  border-radius: 40px;
}
/* line 1905, ../sass/style.scss */
.cf-radio-btns input[type=radio] {
  visibility: hidden;
  position: absolute;
}
/* line 1909, ../sass/style.scss */
.cf-radio-btns input[type=radio]:checked + label:after {
  opacity: 1;
}

/* line 1914, ../sass/style.scss */
.shipping-btns {
  margin-bottom: 50px;
}
/* line 1916, ../sass/style.scss */
.shipping-btns .cf-radio-btns label {
  font-size: 18px;
  font-weight: 600;
  padding-left: 37px;
}

/* line 1923, ../sass/style.scss */
.payment-list {
  list-style: none;
  margin-bottom: 40px;
}
/* line 1926, ../sass/style.scss */
.payment-list li {
  font-size: 18px;
  font-weight: 600;
  color: #414141;
  margin-bottom: 20px;
}
/* line 1931, ../sass/style.scss */
.payment-list li a,
.payment-list li span {
  padding-left: 40px;
}

/* line 1938, ../sass/style.scss */
.submit-order-btn {
  width: 100%;
  min-height: 58px;
}

/* line 1943, ../sass/style.scss */
.checkout-cart {
  background: #f0f0f0;
  padding: 40px 24px 30px;
  border-radius: 25px;
}
/* line 1947, ../sass/style.scss */
.checkout-cart h3 {
  margin-bottom: 30px;
}
/* line 1950, ../sass/style.scss */
.checkout-cart .product-list {
  list-style: none;
}
/* line 1952, ../sass/style.scss */
.checkout-cart .product-list li {
  overflow: hidden;
  display: block;
  margin-bottom: 29px;
}
/* line 1957, ../sass/style.scss */
.checkout-cart .product-list .pl-thumb {
  float: left;
  overflow: hidden;
  margin-right: 22px;
  width: 99px;
}
/* line 1962, ../sass/style.scss */
.checkout-cart .product-list .pl-thumb img {
  min-width: 100%;
}
/* line 1966, ../sass/style.scss */
.checkout-cart .product-list h6 {
  font-weight: 700;
  color: #414141;
  padding-top: 15px;
  margin-bottom: 5px;
}
/* line 1972, ../sass/style.scss */
.checkout-cart .product-list p {
  font-size: 16px;
  margin-bottom: 0;
}
/* line 1977, ../sass/style.scss */
.checkout-cart .price-list {
  padding-left: 17px;
  padding-right: 5px;
  list-style: none;
}
/* line 1981, ../sass/style.scss */
.checkout-cart .price-list li {
  overflow: hidden;
  display: block;
  font-size: 18px;
  color: #414141;
  margin-bottom: 10px;
}
/* line 1987, ../sass/style.scss */
.checkout-cart .price-list li span {
  float: right;
  width: 60px;
  text-align: left;
}
/* line 1992, ../sass/style.scss */
.checkout-cart .price-list li.total {
  padding-top: 35px;
  font-weight: 700;
}

/* ----------------
  Contact Page
---------------------*/
/* line 2004, ../sass/style.scss */
.contact-section {
  padding-top: 80px;
  padding-bottom: 0;
  position: relative;
}

/* line 2011, ../sass/style.scss */
.contact-info h3 {
  margin-bottom: 50px;
}

/* line 2016, ../sass/style.scss */
.contact-social {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 85px;
  padding-top: 20px;
}
/* line 2023, ../sass/style.scss */
.contact-social a {
  display: -ms-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 32px;
  height: 32px;
  background: #f0f0f0;
  color: #414141;
  font-size: 14px;
  border-radius: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 12px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 2044, ../sass/style.scss */
.contact-social a:hover {
  color: #fff;
  background: #f51167;
}

/* line 2052, ../sass/style.scss */
.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 44px;
  border: none;
  padding: 0 18px;
  background: #f0f0f0;
  border-radius: 40px;
  margin-bottom: 17px;
  font-size: 14px;
}
/* line 2063, ../sass/style.scss */
.contact-form textarea {
  padding-top: 16px;
  border-radius: 18px;
  height: 175px;
  margin-bottom: 32px;
}

/* line 2071, ../sass/style.scss */
.map {
  position: absolute;
  width: calc(50% - 15px);
  height: 100%;
  right: 0;
  top: 0;
  background: #ddd;
}
/* line 2078, ../sass/style.scss */
.map iframe {
  width: 100%;
  height: 100%;
}

/* ----------------
  Responsive
---------------------*/
@media (min-width: 1200px) {
  /* line 2089, ../sass/style.scss */
  .container {
    max-width: 1175px;
  }
}
@media (max-width: 1350px) {
  /* line 2095, ../sass/style.scss */
  .product-slider .owl-nav {
    position: relative;
    left: 0;
    top: 0;
    text-align: center;
    padding-top: 20px;
  }

  /* line 2102, ../sass/style.scss */
  .product-slider .owl-nav button.owl-prev,
  .product-slider .owl-nav button.owl-next {
    float: none;
    left: 0;
    right: 0;
    margin: 0 10px;
  }
}
/* Medium screen : 992px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 2114, ../sass/style.scss */
  .hero-slider .slider-nav-warp {
    max-width: 930px;
  }

  /* line 2117, ../sass/style.scss */
  .footer-widget ul {
    margin-right: 5px;
  }

  /* line 2120, ../sass/style.scss */
  .social-links a {
    margin-right: 20px;
  }
}
/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 2128, ../sass/style.scss */
  .site-logo {
    margin-bottom: 20px;
  }

  /* line 2131, ../sass/style.scss */
  .header-search-form {
    margin-bottom: 15px;
  }

  /* line 2134, ../sass/style.scss */
  .user-panel {
    text-align: center;
  }

  /* line 2137, ../sass/style.scss */
  .main-menu {
    text-align: center;
  }

  /* line 2140, ../sass/style.scss */
  .sub-menu {
    text-align: left;
  }

  /* line 2143, ../sass/style.scss */
  .main-menu li a {
    margin-right: 30px;
  }

  /* line 2146, ../sass/style.scss */
  .hero-slider .slider-nav-warp {
    max-width: 690px;
  }

  /* line 2149, ../sass/style.scss */
  .hero-slider .hs-item .offer-card {
    top: 20px;
  }

  /* line 2152, ../sass/style.scss */
  .feature h2 {
    font-size: 18px;
  }

  /* line 2155, ../sass/style.scss */
  .product-filter-menu {
    text-align: center;
  }

  /* line 2158, ../sass/style.scss */
  .product-filter-menu li {
    margin: 0 5px 10px;
  }

  /* line 2161, ../sass/style.scss */
  .social-links {
    text-align: center;
  }
  /* line 2163, ../sass/style.scss */
  .social-links a {
    margin-right: 20px;
  }
  /* line 2165, ../sass/style.scss */
  .social-links a span {
    display: none;
  }

  /* line 2170, ../sass/style.scss */
  .cart-table,
  .checkout-cart,
  .product-thumbs {
    margin-bottom: 50px;
  }

  /* line 2175, ../sass/style.scss */
  .map {
    position: relative;
    width: 100%;
    background: #ddd;
    height: 400px;
    margin-top: 70px;
  }
}
/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
  /* line 2187, ../sass/style.scss */
  .site-logo {
    margin-bottom: 20px;
  }

  /* line 2190, ../sass/style.scss */
  .header-search-form {
    margin-bottom: 15px;
  }

  /* line 2193, ../sass/style.scss */
  .user-panel {
    text-align: center;
  }

  /* line 2196, ../sass/style.scss */
  .main-menu {
    display: none;
  }

  /* line 2199, ../sass/style.scss */
  .slicknav_btn {
    background-color: #565656;
  }

  /* line 2202, ../sass/style.scss */
  .slicknav_menu {
    background: #282828;
    display: block;
  }
  /* line 2205, ../sass/style.scss */
  .slicknav_menu .new {
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    background: #f51167;
    line-height: 1;
    text-transform: uppercase;
    padding: 5px 9px 1px;
    border-radius: 15px;
    width: 42px;
    margin-left: 5px;
  }

  /* line 2218, ../sass/style.scss */
  .hero-slider .slider-nav-warp {
    max-width: 510px;
  }

  /* line 2221, ../sass/style.scss */
  .hero-slider .hs-item h2 {
    font-size: 50px;
  }

  /* line 2224, ../sass/style.scss */
  .hero-slider .hs-item .offer-card {
    display: none;
  }

  /* line 2227, ../sass/style.scss */
  .product-filter-menu {
    text-align: center;
  }

  /* line 2230, ../sass/style.scss */
  .product-filter-menu li {
    margin: 0 2px 10px;
  }

  /* line 2233, ../sass/style.scss */
  .footer-widget ul {
    margin-right: 25px;
  }

  /* line 2236, ../sass/style.scss */
  .social-links {
    text-align: center;
  }
  /* line 2238, ../sass/style.scss */
  .social-links a {
    margin-right: 15px;
  }
  /* line 2240, ../sass/style.scss */
  .social-links a span {
    display: none;
  }

  /* line 2245, ../sass/style.scss */
  .cart-table,
  .checkout-cart,
  .product-thumbs {
    margin-bottom: 50px;
  }

  /* line 2250, ../sass/style.scss */
  .cart-table .size-col h4,
  .cart-table table tr th.size-th,
  .cart-table table tr th.quy-th,
  .cart-table .quy-col {
    padding-right: 0;
    width: 70px;
  }

  /* line 2257, ../sass/style.scss */
  .cart-table .quy-col {
    width: 80px;
  }

  /* line 2260, ../sass/style.scss */
  .address-rb {
    text-align: left;
  }

  /* line 2263, ../sass/style.scss */
  .map {
    position: relative;
    width: 100%;
    background: #ddd;
    height: 400px;
    margin-top: 70px;
  }
}
/* Medium Mobile :480px. */
@media only screen and (min-width: 576px) and (max-width: 766px) {
  /* line 2275, ../sass/style.scss */
  .hero-slider .slider-nav-warp {
    padding: 0 15px;
  }

  /* line 2278, ../sass/style.scss */
  .banner .tag-new {
    position: relative;
    display: inline-block;
    margin-bottom: 18px;
    right: 0;
    top: 0;
  }
}
/* Small Mobile :320px. */
@media only screen and (max-width: 479px) {
  /* line 2290, ../sass/style.scss */
  .hero-slider .slider-nav-warp {
    max-width: 510px;
    padding: 0 15px;
  }

  /* line 2294, ../sass/style.scss */
  .hero-slider .hs-item h2 {
    font-size: 35px;
  }

  /* line 2297, ../sass/style.scss */
  .hero-slider .hs-item .sb-line {
    margin-bottom: 15px;
  }

  /* line 2300, ../sass/style.scss */
  .section-title h2 {
    font-size: 28px;
  }

  /* line 2303, ../sass/style.scss */
  .feature h2 {
    font-size: 18px;
  }

  /* line 2306, ../sass/style.scss */
  .banner .tag-new {
    position: relative;
    display: inline-block;
    margin-bottom: 18px;
    right: 0;
    top: 0;
  }

  /* line 2313, ../sass/style.scss */
  .social-links {
    text-align: center;
  }
  /* line 2316, ../sass/style.scss */
  .social-links a i {
    font-size: 20px;
    margin-right: 0;
  }
  /* line 2320, ../sass/style.scss */
  .social-links a span {
    display: none;
  }
}
