﻿@model MyStore.ViewModels.SearchViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Products.Count() == 0)
{
    <h4 class="py-3 py-md-5">Sorry, we cannot found any result matches '@Model.searchString'</h4>
}
else
{
    <section class="product-filter-section py-3 py-md-5">
        <div class="container">
            <div class="section-title">
                <h2>Search result for '@Model.searchString'</h2>
            </div>
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <div class="pi-pic">
                                <a href="~/Products/Index/@product.Id" class="text-dark"><img src="~/Content/img/product/@product.Image" alt=""></a>
                                <div class="pi-links">
                                    <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                                    <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                                </div>
                            </div>
                            <div class="pi-text">
                                <h6>$@product.Price</h6>
                                <p>@Html.ActionLink(product.Name, "Index", "Products", new { id = product.Id }, new { @class = "text-dark" })</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}

<section class="related-product-section">
    <div class="container">
        <div class="section-title">
            <h2>You May Like</h2>
        </div>
        <div class="product-slider owl-carousel">
            @foreach (var product in Model.SuggestedProducts)
            {
                <div class="product-item">
                    <div class="pi-pic">
                        <a href="~/Products/Index/@product.Id" class="text-dark">
                            <img src="~/Content/img/product/@product.Image" alt="">
                        </a>
                        <div class="pi-links">
                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>@product.Price</h6>
                        <p>@product.Name</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>